@import '../../../Colortheme/Colortheme.scss';

.buttonGroup {
    margin: auto;
    padding: 2vw;
}

.button1 {
    background-color: $headerbutton;
    // border: none;
    border-color: $headerbuttonhover;
}

.button1:hover,
.button1:focus,
.button1:active,
.button1.active {
    background-color: $headerbuttonhover;
    box-shadow: none;
}